.containerHeader {
  display: flex;
  flex-direction: row;
}

.containerName {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
  width: 45%;
}

.ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: translateY(-1px);
}

@media (max-width: 700px) {
  .containerHeader {
    flex-direction: column;
    padding-top: 12rem;
  }

  .containerName {
    width: 98%;
    margin-bottom: 2rem;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  .containerNav {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
}
